@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --red: #ffffff;
}

body{
    line-height: 1.5em;
    text-align: center;
}

header{
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #4f7fe7ce;
    backdrop-filter: blur(2px);
}

nav a{
    padding: 10px 7px;
    width: 100%;
    font-size: clamp( 1.3em, 1.4vw, 1.5em);
    color: black;    
}

ul{
    gap: 10px;
    display: flex;
    list-style: none;
}

#htmlicon{
    color: #f83e0f71;
}
#htmlicon:hover{
    color: #f83e0fc2;
    text-shadow: 0px 0px 10px #f83e0f;
}
#cssicon{
    color: #264ce46c;
}
#cssicon:hover{
    color: #264de4;
    text-shadow: 0px 0px 10px #264de4;
}
#jsicon{
    color: #d4bf3477;
}
#jsicon:hover{
    color: #d4bf34;
    text-shadow: 0px 0px 10px #d4bf34;
}
#reacticon{
    color: #3ad4ff9a;
}
#reacticon:hover{
    color: #4cd6fc;
    text-shadow: 0px 0px 10px #61dafb;
}
#nodeicon{
    color: #27ca2798;
}
#nodeicon:hover{
    color: #27ca27;
    text-shadow: 0px 0px 10px #27ca27;
}
#javaicon{
    color: #1b61f769;
}
#javaicon:hover{
    color: #1b61f7;
    text-shadow: 0px 0px 10px #207ef8;
}
#pyicon{
    color: rgba(36, 113, 255, 0.397);
}
#pyicon:hover{
    color: rgb(36, 113, 255);
    text-shadow: 0px 0px 10px rgb(36, 113, 255);
}

main{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

main p{
    white-space: pre-line;
    text-align: center;
    padding: 0px 10px;
}

section{
    margin: auto;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    gap: 20px; 
}

section a{
    text-decoration: none;
    color: black;
}

section h2{
    text-align: center;
}

section img{
    width: 100%;
    max-width: 300px;
}

section img:hover{
    width: 320px;
}

section article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    height: 100%;
    box-shadow: 0px 0px 15px 2px rgba(61, 61, 61, 0.315);
    border-radius: 15px;
    transition: transform .2s ease;
}

section article:hover{
    transform: translate(5px, 5px);
    width: 100%;
    max-width: 320px;
    height: 250px;
}

article div h2{
    text-align: center;
}

article div{
    width: 100%;
    max-width: 300px;
}

section> article> h2{
    cursor: pointer;
}
