@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    
}

body{
    line-height: 1.5em;
}

header{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: aqua;
}

ul{
    gap: 10px;
    display: flex;
}

li{
    list-style: none;
}

nav a{
    padding: 10px 7px;
    width: 100%;
    font-size: clamp( 1em, 1.4vw, 1.5em);    
}

a{
    font-weight: 600;
    font-size: 1.4em;
    color: black;
}

main p{
    white-space: pre-line;
    text-align: center;
}

section{
    display: flex;
    flex-flow: column wrap;
    align-items: center;    
}

section article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 2px dashed black;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    gap: 20px;
}

section img{
    width: 100%;
    max-width: 300px;
}

article div h2{
    text-align: center;
}

article div{
    width: 80%;
    max-width: 300px;
    border: 1px solid black;
}


#html h2{
    align-self: flex-start;
}


#js{
    border: 2px solid black;
    
}

#react{
    border: 2px dashed black;
    
}

#node{
     border: 2px dashed black;
     
}

#java{
     border: 2px dashed black;
     
}

#python{
     border: 2px dashed black;
     
}

