@charset "UTF-8";
    body{
        background-color: rgb(133, 24, 24);
    }
    main{
        width: 600px;
        background-color: rgba(255, 252, 250, 0.253) ;
        border-radius: 0.9em;
        margin: auto;
        padding: 1em;

    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 1.04em;
    }

    h2{
        font: italic bolder 1.65em arial ;
        color: darkred 
    }