@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section{
    white-space: pre-line;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

article{
    font-size: clamp(0.6rem, 1vw, .9em);
    white-space: pre-line;
    border: 1px solid black;
    width: 100%;
    max-width: 500px;
}