@charset "utf-8";
    div{
        background-color: rgb(101, 103, 104);
        width: 10em ;
        height: 10em ;
        border: 1px solid black  ;
        text-align: center;
        display: inline-block;
    }
    div:hover{
        background-color: yellow;
    }

    a{
        text-decoration: none;
        color: black;
        background-color: aqua;
    }
    
    a:hover{
        color: aqua;
        background-color: black;
    }
   